:root {
  --background-color: #f9f7fe;
  --branding-color: #006d77;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --emphasis-color: #fb6f92;
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: bold;
}
h2 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
}
h3 {
  font-family: var(--heading-font-family);
  font-size: 48px;
  font-weight: bold;
}
h4 {
  font-size: 48px;
  font-weight: bold;
  font-family: var(--heading-font-family);
}
p {
  font-size: 16px;
  line-height: 30px;
  font-family: var(--default-font-family);
}
nav {
  padding: 20px;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
  font-family: var(--default-font-family);
}
nav a:hover,
nav li.active a {
  color: var(--branding-color);
}
.hero {
  background-image: url("/images/background.png");
  background-repeat: repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
  text-align: center;
  padding: 100px 0;
}
.hero p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  color: #272142;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  color: #272142;
  font-weight: normal;
}
.container {
  padding: 30px;
  margin: 0 auto;
}
.container h4 {
  font-size: 45px;
}
.container h5 {
  font-family: var(--default-font-family);
  padding: 20px 0px 20px 0px;
}
.tech-symbol {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--background-color);
  padding: 10px 14px;
  font-size: 24px;
  border-radius: 50%;
}
.btn-branding {
  background: var(--branding-color);
  color: #ffff;
  border-radius: 4px;
  font-size: 18px;
  line-height: 28px;
  font-family: var(--default-font-family);
  padding: 15px 30px;
  text-align: center;
  transition: 0.5 ease;
  border: 1px solid;
}
.btn-branding:hover {
  color: #272142;
  background: var(--emphasis-color);
}
.btn-branding-outline {
  color: #272142;
  border-radius: 4px;
  font-size: 16px;
  line-height: 28px;
  font-family: var(--default-font-family);
  padding: 10px 20px;
  text-align: center;
  transition: 0.5 ease;
  border: 1px solid;
}
.btn-branding-outline:hover {
  color: #272142;
  border: 1px solid var(--branding-color);
}
.project-description {
  padding: 90px 60px 0;
}
.logo {
  max-height: 40px;
}

.socials {
  display: block;
  text-align: center;
}
.email {
  font-family: var(--default-font-family);
  font-size: 24px;
}
.socials-icons {
  font-size: 18;
  color: var(--branding-color);
}
.headshot-img {
  width: 560px;
  border-radius: 20px;
}
.content {
  padding: 80px 0;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content-details {
  margin: 30px;
}
.content-details h3 {
  font-size: 24px;
  font-weight: bold;
  font-family: var(--default-font-family);
  line-height: 1.5;
}
.content-details p {
  font-size: 14px;
}
.work-image {
  width: 560px;
  height: 560px;
}
.coding-tools {
  border: solid 5px;
  text-align: center;

  padding: 40px;
  border-radius: 15px;
}
.coding-tools li {
  list-style: none;
  line-height: 42px;
}

.featured-technologies {
  border: solid 5px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}
.featured-technologies li {
  list-style: none;
  line-height: 42px;
}
footer {
  margin: 60px 0;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
  font-family: var(--default-font-family);
}
footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--background-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}
footer .contact-box {
  background: var(--background-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.5px;
  }
  h2 {
    font-size: 36px;
  }
  nav a {
    font-size: 14px;
  }
  .hero {
    padding: 90px 0;
  }
  .hero h2 {
    font-size: 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  footer .contact-box {
    padding: 30px;
  }
  h4 {
    font-size: 32px;
  }
}
