:root {
  --background-color: #f9f7fe;
  --branding-color: #6c63ff;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: bold;
}
h2 {
  font-family: var(--heading-font-family);
  font-size: 64px;
}
p {
  font-size: 16px;
  line-height: 30px;
  font-family: var(--default-font-family);
}
.hero {
  background: var(--background-color);
  text-align: center;
  padding: 160px 0;
}
.hero p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  color: #272142;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  color: #272142;
}
.btn-branding {
  background: var(--branding-color);
  color: #ffff;
  border-radius: 4px;
  font-size: 18px;
  line-height: 28px;
  font-family: var(--default-font-family);
  padding: 15px 30px;
  text-align: center;
  transition: 0.5 ease;
  border: 1px solid;
}
.btn-branding:hover {
  color: #272142;
  background: var(--branding-color);
}
.btn-branding-outline {
  color: var(--branding-color);
  border-radius: 4px;
  font-size: 16px;
  line-height: 28px;
  font-family: var(--default-font-family);
  padding: 10px 20px;
  text-align: center;
  transition: 0.5 ease;
  border: 1px solid;
}
.btn-branding-outline:hover {
  color: #272142;
  border: 1px solid var(--branding-color);
}
.project-description {
  padding: 120px 60px 0;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.5px;
  }
  h2 {
    font-size: 36px;
  }
  .hero {
    padding: 90px 0;
  }
  .hero h2 {
    font-size: 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
